*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	user-select: none;
	font-family: "Skip Std B", "Skip ProN B", "Skip Pro B", sans-serif;
}

.back{
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100lvh;
	object-fit: cover;
	opacity: 0.7;
	z-index: -1;
}
.kingdon-card{
	background-color: #f3f0e8;
}
.victory-card{
	background-color: #bad6a5;
}
.treasure-card{
	background-color: #fff897;
}
.empty-card{
	background-color: #1d1916;
}
.empty-card img{
	opacity: 0.5;
}
.empty{
	opacity: 0.3;
}
/***********************************************************************/
/* supply-area
/***********************************************************************/
.supply-area{
	width: 100%;
	max-width: 940px;
	margin: 0px auto;
	height: 300px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}
.get-supply-card{
	width: 120px;
	aspect-ratio: 3 / 4;
	border: 2px solid black;
	border-radius: 5px;
	text-align: center;
	z-index: 1000;
}
.get-supply-card img{
	width: 100%;
}
.get-supply-card div{
	width: 100%;
}
.victory-point-area{
	width: 100px;
	display: grid;
	grid-template-columns: 100px;
	grid-template-rows: repeat(3, 95px);
	gap: 2px;
	margin: 0 2px;
}
.victory-point-area img{
	width: 100%;
}
.treasure-point-area{
	width: 100px;
	display: grid;
	grid-template-columns: 100px;
	grid-template-rows: repeat(3, 95px);
	gap: 2px;
	margin: 0 2px;
}
.treasure-point-area img{
	width: 100%;
}
.kingdon-area{
	width: 710px;
	display: grid;
	grid-template-columns: repeat(5, 140px);
	grid-template-rows: repeat(2, 130px);
	direction: rtl;
	gap: 2px;
	position: relative;
}

.supply-card{
	font-size: 13px;
	line-height: 20px;
	text-align: center;
	border: 2px solid black;
	border-radius: 5px;
	position: relative;
	width: 100%;
	cursor: pointer;
}
.supply-card img{
	width: 100%;
}

.cost{
	position: absolute;
	bottom: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 25px;
	height: 25px;
	color: black;
	background-color: #f9f170;
	border-radius: 50%;
}
.remain{
	position: absolute;
	bottom: 0;
	right: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 25px;
	height: 25px;
	color: black;
	background-color: white;
	border-radius: 50%;
}

/***********************************************************************/
/* infomation-area
/***********************************************************************/
.infomation-area{
	width: 100%;
	max-width: 940px;
	margin: 0px auto;
	height: 230px;
	display: flex;
}
/***********************************************************************/
/* left-info
/***********************************************************************/
.left-info{
	width: 15%;
	height: 100%;
}
.count-area{
	height: 50px;
	display: flex;
	align-items: center;
	margin: 5px 0px;
	position: relative;
}

.base-area{
	width: 50px;
	height: 50px;
	display: flex;
	align-items: center;
	position: relative;
}
.base-area img{
	width: 100%;
}
.base-count{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	color: white;
	font-size: 30px;
	font-weight: 900;
	text-stroke: 1px black;
	-webkit-text-stroke: 1px black;
	position: absolute;
}

.deck-area{
	height: 108.07px;
	width: 70px;
	margin-top: 5px;
	position: relative;
}
.deck-area img{
	width: 100%;
	z-index: -1;
}
.deck-count{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 40px;
	height: 40px;
	color: black;
	font-size: 24px;
	font-weight: 900;
	background-color: #a71b1c;
	border-radius: 50%;
	text-stroke: 1px white;
	-webkit-text-stroke: 1px white;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

/***********************************************************************/
/* main-info
/***********************************************************************/
.main-info{
	width: 65%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.info-text{
	width: 90%;
	height: 25px;
	line-height: 25px;
	text-align: center;
	color: white;
	background-color: black;
	border-radius: 10px;
	font-size: 16px;
	font-weight: 900;
}
.play-area{
	width: 100%;
	margin-top: 5px;
	height: calc(100% - 25px);
	position: relative;
}
.play-card{
	width: 120px;
	font-size: 14px;
	aspect-ratio: 3 / 4;
	text-align: center;
	border: 2px solid black;
	border-radius: 5px;
	box-shadow: 1px 1px 5px black;
	position: absolute;
	top: 0;
}
.play-card img{
	width: 100%;
}

/***********************************************************************/
/* right-info
/***********************************************************************/
.right-info{
	width: 20%;
	height: 100%;
	display: flex;
	flex-direction: column;
}
.multiple-btn{
	width: 100%;
	height: 3rem;
	color: black;
	background-color: white;
	font-size: 16px;
	font-weight: 900;
	border: 2px solid gray;
	border-radius: 1.5rem;
	line-height: 20px;
	transition: all 0.3s ease;
}
.multiple-btn:hover{
	color: white;
	background-color: gray;
}
.multiple-btn:disabled{
	opacity: 0;
}

.trash-info{
	width: 100%;
	display: flex;
	flex-direction: row-reverse;
}
.trash-area{
	height: 100px;
	width: 70px;
	margin-top: 10px;
	position: relative;
}
.trash-area img{
	width: 100%;
	z-index: -1;
}
.trash-count{
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 50%;
	left: 47%;
	transform: translate(-50%, -50%);
	width: 40px;
	height: 40px;
	color: white;
	font-size: 24px;
	background-color: black;
	border-radius: 50%;
	margin: 0 2px;
}

.discard-area{
	height: 100px;
	width: 100px;
	margin-top: 10px;
	position: relative;
}
.discard-area img{
	width: 100%;
	z-index: -1;
}
.discard-count{
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 50%;
	left: 47%;
	transform: translate(-50%, -50%);
	width: 40px;
	height: 40px;
	color: black;
	font-size: 24px;
	background-color: white;
	border-radius: 50%;
	margin: 0 2px;
}

.btn-info{
	width: 100%;
	height: 50px;
	display: flex;
	flex-direction: row-reverse;
	margin-top: 10px;
}
.btn-area{
	width: 50px;
	height: 100%;
}
.btn-area img{
	width: 100%;
	cursor: pointer;
}
.btn-area img:hover{
	opacity: 0.8;
}
.btn-area img:active{
	transform: scale(0.95) translateY(2px);
}
/***********************************************************************/
/* hand-area
/***********************************************************************/
.hand-area{
	width: 100%;
	max-width: 940px;
	height: 160px;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
}
.hand-info{
	width: 100%;
	height: 100%;
	display: flex;
	flex-wrap: nowrap;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}
.hand-card{
	font-size: 14px;
	width: 120px;
	aspect-ratio: 3 / 4;
	border: 2px solid black;
	border-radius: 5px;
	text-align: center;
	box-shadow: 1px 1px 5px black;
	margin-right: -2rem;
}
.hand-card:hover{
	transform: translateY(-30px);
}
.hand-card.select{
	transform: translateY(-30px);
	background-color: rgba(254, 197, 105);
	box-shadow: 1px 1px 5px red;
}
.hand-card.available{
	box-shadow: -5px -5px 15px 5px rgb(112, 253, 24), 5px 5px 15px 7px rgb(112, 253, 24) !important;
}
.hand-card img{
	width: 100%;
}

/***********************************************************************/
/* 説明用モーダルの設定
/***********************************************************************/
/*モーダル本体の指定 + モーダル外側の背景の指定*/
.explanation-modal{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	background: rgba(0,0,0,0.5);
	padding: 40px 20px;
	overflow: auto;
	opacity: 0;
	visibility: hidden;
	transition: all .3s;
	box-sizing: border-box;
	z-index: 1000;
}

/*モーダル本体に「active」クラス付与した時のスタイル*/
.explanation-modal.active{
	opacity: 1;
	visibility: visible;
}
/*モーダル枠の指定*/
.explanation-modal-body{
	position: relative;
	display: inline-block;
	vertical-align: middle;
	width: 420px;
	aspect-ratio: 3 / 4;
}
/*モーダル内のコンテンツの指定*/
.explanation-modal-card{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	border: 3px solid black;
	border-radius: 10px;
}
.explanation-modal-card h1{
	font-size: 24px;
	height: 40px;
	line-height: 40px;
}
.explanation-modal-card img{
	width: 100%;
}
.explanation-modal-card div{
	height: 300px;
	padding: 10px 30px;
	display: flex;
	font-size: 24px;
	font-weight: 700;
	justify-content: center;
	align-items: center;
}
/***********************************************************************/
/* モーダルの設定
/***********************************************************************/
/*モーダル本体の指定 + モーダル外側の背景の指定*/
.modal{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	text-align: center;
	visibility: hidden;
	transition: all .3s;
	box-sizing: border-box;
}

/*モーダル本体に「active」クラス付与した時のスタイル*/
.modal.active{
	visibility: visible;
}
/*モーダル枠の指定*/
.modal-body{
	position: relative;
	display: inline-block;
	vertical-align: middle;
	max-width: 940px;
	width: 500px;
	height: 280px;
	background-color: #1d1916;
	border: 3px solid gray;
	margin-top: 10px;
}
.modal-title{
	width: 100%;
	height: 30px;
	font-size: 20px;
	font-weight: 900;
	color: white;
	background-color: #5e1917;
	display: flex;
	justify-content: center;
	align-items: center;

}
/*モーダル内のコンテンツの指定*/
.modal-content{
	width: 100%;
	height: calc(100% - 30px);

	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}
.modal-card{
	width: 150px;
	height: 180px;
	aspect-ratio: 3 / 4;
	display: flex;
	flex-direction: column;
	border: 2px solid black;
	border-radius: 7px;
	margin: 0 2px;
	color: black;
}
.modal-card.available{
	box-shadow: -5px -5px 15px 5px rgb(112, 253, 24), 5px 5px 15px 7px rgb(112, 253, 24) !important;
	cursor: pointer;
}
.modal-card h1{
	font-size: 16px;
}
.modal-card img{
	width: 100%;
}
.modal-card div{
	height: 100px;
	font-size: 12px;
	font-weight: 700;
	padding: 5px 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}
.modal-card div div{
	width: 30px;
	height: 30px;
	font-size: 16px;
	font-weight: 700;
	color: black;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	bottom: -5px;
	right: -5px;
	background-color: white;
	border: 1px solid gray;
	border-radius: 50%;
}

.modal-drop-area{
	width: 300px;
	height: 235px;
	font-size: 24px;
	color: white;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	background-color: #444444;
	display: flex;
	justify-content: center;
	align-items: center;
}
.modal-drop-area>h1{
	position: absolute;
	top: 0;
	font-size: 20px;
}
.modal-drop-area>p{
	position: absolute;
	bottom: 0;
	font-size: 20px;
}
#modal-trash-area{
	left: 5px;
}
#modal-discard-area{
	right: 5px;
}
#modal-deck-area{
	left: 50%;
	transform: translate(-50%,-50%);
}
.modal-deck-area-order{
	width: 150px;
	height: 180px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.hold {
	border: 4px solid #ccc;
}
.invisible {
  display: none;
}
.hovered {
  border: 2px dotted white;
}

/***********************************************************************/
/* メニュー用モーダルの設定
/***********************************************************************/
/*モーダル本体の指定 + モーダル外側の背景の指定*/
.setting-modal{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	background: rgba(0,0,0,0.5);
	padding: 40px 20px;
	overflow: auto;
	opacity: 0;
	visibility: hidden;
	transition: all .3s;
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1000;
}

/*モーダル本体に「active」クラス付与した時のスタイル*/
.setting-modal.active{
	opacity: 1;
	visibility: visible;
}
/*モーダル枠の指定*/
.setting-modal-body{
	position: relative;
	width: 300px;
	height: 400px;
	background-color: #1d1916;
	border: 3px solid gray;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.setting-btn{
	font-size: 24px;
	width: 250px;
	height: 40px;
	margin: 10px 0;
	background-color: #e9e6d8;
	border: 2px solid #503e38;
}
.setting-btn:hover{
	background-color: #ffffff;
}
.setting-btn:active{
	transform: scale(0.95) translateY(3px);
}

/***********************************************************************/
/* ルール用モーダルの設定
/***********************************************************************/
/*モーダル本体の指定 + モーダル外側の背景の指定*/
.rule-modal{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	visibility: hidden;
	transition: all .3s;
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	align-items: center;
}

/*モーダル本体に「active」クラス付与した時のスタイル*/
.rule-modal.active{
	visibility: visible;
}

.rule-modal-slider{
	width: 900px;
	height: 800px;
}
.rule-modal-body{
	position: relative;
	width: 900px;
	height: 100%;
	background-color: #eee9d8;
	border: 3px solid #432d23;
	padding: 0 40px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 2000;
}
.rule-modal-body h1{
	width: 100%;
	text-align: left;
	line-height: 40px;
}
.rule-modal-body h2{
	width: 100%;
	text-align: left;
}
.rule-modal-body h1 img{
	height: 30px;
}
.rule-modal-body div{
	display: flex;
	width: 100%;
	margin-top: 10px;
}
.rule-modal-body div img{
	width: 300px;
	margin: 0 10px;
}
.close-rule-modal-btn{
	position: absolute;
	top: -2px;
	right: -2px;
	width: 30px;
	height: 30px;
	font-size: 24px;
	font-weight: 900;
	color: white;
	background-color: black;
	border: 2px solid #432d23;
	display: flex;
	justify-content: center;
	align-items: center;
}

.close-rule-modal-btn:active{
	transform: scale(0.95);
}
.game-area-image{
	width: 100%;
	margin: 10px 0;
}
.rule-text{
	width: 100%;
	text-align: left;
	font-size: 24px;
}
.rule-modal-body ul,.rule-modal-body ol{
	width: 100%;
	text-align: left;
	padding-left: 20px;
}
.rule-modal-body ul li,
.rule-modal-body ol li{
	text-align: left;
	font-size: 24px;
}
/***********************************************************************/
/* Info用モーダルの設定
/***********************************************************************/
.infomation-modal{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	visibility: hidden;
	transition: all .3s;
	box-sizing: border-box;
	margin-top: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}

/*モーダル本体に「active」クラス付与した時のスタイル*/
.infomation-modal.active{
	visibility: visible;
}

.infomation-modal-body{
	position: relative;
	width: 900px;
	height: 800px;
	background-color: #eee9d8;
	border: 3px solid #432d23;
	padding: 0 40px;
	display: flex;
	flex-direction: column;
	align-items: center;
	z-index: 2000;
}
.close-infomation-modal-btn{
	position: absolute;
	top: -2px;
	right: -2px;
	width: 30px;
	height: 30px;
	font-size: 24px;
	font-weight: 900;
	color: white;
	background-color: black;
	border: 2px solid #432d23;
	display: flex;
	justify-content: center;
	align-items: center;
}
.close-infomation-modal-btn:active{
	transform: scale(0.95);
}

.infomation-modal-body h1{
	width: 100%;
	text-align: left;
	line-height: 40px;
	margin-top: 20px;
}
.infomation-modal-body p{
	width: 100%;
	text-align: left;
	font-size: 24px;
}
.infomation-modal-body ul,
.infomation-modal-body ol{
	width: 100%;
	text-align: left;
	padding-left: 20px;
}
.infomation-modal-body ul li,
.infomation-modal-body ol li{
	text-align: left;
	font-size: 24px;
}