*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	user-select: none;
}

.back{
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100lvh;
	object-fit: cover;
	opacity: 0.7;
	z-index: -1;
}
/***********************************************************************/
/* supply-area
/***********************************************************************/
.supply-area{
	width: 100%;
	max-width: 940px;
	margin: 0px auto;
	height: 380px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.victory-point-area{
	width: 130px;
	display: grid;
	grid-template-columns: 130px;
	grid-template-rows: repeat(3, 120px);
	gap: 5px;
	margin: 0 2px;
}
.victory-point-area img{
	width: 100%;
}
.treasure-point-area{
	width: 130px;
	display: grid;
	grid-template-columns: 130px;
	grid-template-rows: repeat(3, 120px);
	gap: 5px;
	margin: 0 2px;
}
.treasure-point-area img{
	width: 100%;
}
.kingdon-area{
	width: 670px;
	display: grid;
	grid-template-columns: repeat(5, 130px);
	grid-template-rows: repeat(2, 160px);
	direction: rtl;
	gap: 5px;
	position: relative;
}

.supply-card{
	font-size: 15px;
	line-height: 20px;
	text-align: center;
	border: 2px solid black;
	border-radius: 5px;
	position: relative;
	width: 100%;
	cursor: pointer;
}
.supply-card img{
	width: 100%;
}
.kingdon-card{
	background-color: #f3f0e8;
}
.victory-card{
	background-color: #bad6a5;
}
.treasure-card{
	background-color: #fff897;
}
.empty-card{
	background-color: #1d1916;
}
.cost{
	position: absolute;
	bottom: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 25px;
	height: 25px;
	color: black;
	background-color: #f9f170;
	border-radius: 50%;
}
.remain{
	position: absolute;
	bottom: 0;
	right: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 25px;
	height: 25px;
	color: black;
	background-color: white;
	border-radius: 50%;
}

/***********************************************************************/
/* infomation-area
/***********************************************************************/
.infomation-area{
	width: 100%;
	max-width: 940px;
	margin: 0px auto;
	height: 25vh;
	display: flex;
}
/***********************************************************************/
/* left-info
/***********************************************************************/
.left-info{
	width: 15%;
	height: 100%;
}
.count-area{
	height: 40px;
	display: flex;
	align-items: center;
	margin: 5px 0;
}
.action-count{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 40px;
	height: 40px;
	color: black;
	font-size: 24px;
	background-color: white;
	border: 2px solid gray;
	border-radius: 50%;
	margin: 0 2px;
}
.buy-count{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 40px;
	height: 40px;
	color: black;
	font-size: 24px;
	background-color: gray;
	border-radius: 50%;
	margin: 0 2px;

}
.moon-count{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 40px;
	height: 40px;
	color: black;
	font-size: 24px;
	background-color: #f9f170;
	border-radius: 50%;
	margin: 0 2px;

}
.point-area{
	height: 40px;
	display: flex;
	align-items: center;
	margin: 10px 0;
}
.point-count{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 40px;
	height: 40px;
	color: black;
	font-size: 24px;
	background-color: #77f970;
	border-radius: 50%;
	margin: 0 2px;
}
.deck-area{
	height: 108.07px;
	width: 70px;
	position: relative;
}
.deck-area img{
	width: 100%;
	z-index: -1;
}
.deck-count{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 40px;
	height: 40px;
	color: black;
	font-size: 24px;
	font-weight: 900;
	background-color: #a71b1c;
	border-radius: 50%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

/***********************************************************************/
/* main-info
/***********************************************************************/
.main-info{
	width: 65%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.info-text{
	width: 90%;
	height: 20px;
	text-align: center;
	color: white;
	background-color: black;
	border-radius: 10px;
	font-size: 16px;
	font-weight: 900;
}
.play-area{
	width: 100%;
	margin-top: 5px;
	height: calc(100% - 25px);
	position: relative;
}
.play-card{
	width: 120px;
	aspect-ratio: 3 / 4;
	text-align: center;
	border: 2px solid black;
	border-radius: 5px;
	box-shadow: 1px 1px 5px black;
	position: absolute;
	top: 0;
	transition: transform 0.2s ease-in-out;
}
.play-card img{
	width: 100%;
}

/***********************************************************************/
/* right-info
/***********************************************************************/
.right-info{
	width: 20%;
	height: 100%;
}
.phase-info{
	width: 100%;
}
.multiple-btn{
	width: 100%;
	height: 3rem;
	color: black;
	background-color: white;
	font-size: 16px;
	font-weight: 900;
	border: 2px solid gray;
	border-radius: 1.5rem;
	line-height: 20px;
	transition: all 0.3s ease;
}
.multiple-btn:hover{
	color: white;
	background-color: gray;
}
.phase-info div{
	width: 100%;
	text-align: center;
	color: white;
	background-color: gray;
	border-radius: 15px;
	margin: 5px 0;
}
.phase-info div.active{
	color: black;
	background-color: rgb(243, 230, 50);
}

.trash-count{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 40px;
	height: 40px;
	color: white;
	font-size: 24px;
	background-color: black;
	border-radius: 50%;
	margin: 0 2px;
}


/***********************************************************************/
/* hand-area
/***********************************************************************/
.hand-area{
	width: 100%;
	max-width: 940px;
	height: 20vh;
	margin: 10px auto;
	display: flex;
	justify-content: center;
	align-items: center;
}
.hand-info{
	width: 100%;
	height: 100%;
	display: flex;
	flex-wrap: nowrap;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}
.hand-card{
	width: 120px;
	aspect-ratio: 3 / 4;
	border: 2px solid black;
	border-radius: 5px;
	text-align: center;
	box-shadow: 1px 1px 5px black;
	transition: transform 0.2s ease-in-out;


	margin-right: -2rem;
}
.hand-card:hover{
	transform: translateY(-30px);
}
.hand-card.select{
	transform: translateY(-30px);
	background-color: rgba(254, 197, 105);
	box-shadow: 1px 1px 5px red;
}
.hand-card.available{
	box-shadow: -5px -5px 15px 5px rgb(112, 253, 24), 5px 5px 15px 7px rgb(112, 253, 24) !important;
}
.hand-card img{
	width: 100%;
}

/***********************************************************************/
/* 説明用モーダルの設定
/***********************************************************************/
/*モーダル本体の指定 + モーダル外側の背景の指定*/
.explanation-modal{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	background: rgba(0,0,0,0.5);
	padding: 40px 20px;
	overflow: auto;
	opacity: 0;
	visibility: hidden;
	transition: all .3s;
	box-sizing: border-box;
	z-index: 1000;
}

/*モーダル本体に「active」クラス付与した時のスタイル*/
.explanation-modal.active{
	opacity: 1;
	visibility: visible;
}
/*モーダル枠の指定*/
.explanation-modal-body{
	position: relative;
	display: inline-block;
	vertical-align: middle;
	width: 420px;
	aspect-ratio: 3 / 4;
}
/*モーダル内のコンテンツの指定*/
.explanation-modal-card{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	border: 3px solid black;
	border-radius: 10px;
}
.explanation-modal-card h1{
	font-size: 24px;
	height: 40px;
	line-height: 40px;
}
.explanation-modal-card img{
	width: 100%;
}
.explanation-modal-card div{
	height: 300px;
	padding: 10px 30px;
	display: flex;
	font-size: 24px;
	font-weight: 700;
	justify-content: center;
	align-items: center;
}
/***********************************************************************/
/* モーダルの設定
/***********************************************************************/
/*モーダル本体の指定 + モーダル外側の背景の指定*/
.modal{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	text-align: center;
	visibility: hidden;
	transition: all .3s;
	box-sizing: border-box;
}

/*モーダル本体に「active」クラス付与した時のスタイル*/
.modal.active{
	visibility: visible;
}
/*モーダル枠の指定*/
.modal-body{
	position: relative;
	display: inline-block;
	vertical-align: middle;
	max-width: 940px;
	width: 500px;
	height: 350px;
	background-color: #1d1916;
	border: 3px solid gray;
	margin-top: 10px;
}
.modal-title{
	width: 100%;
	height: 30px;
	font-size: 20px;
	font-weight: 900;
	color: white;
	background-color: #5e1917;
	display: flex;
	justify-content: center;
	align-items: center;

}
/*モーダル内のコンテンツの指定*/
.modal-content{
	width: 100%;
	height: calc(100% - 30px);

	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}
.modal-card{
	width: 150px;
	aspect-ratio: 3 / 4;
	display: flex;
	flex-direction: column;
	border: 2px solid black;
	border-radius: 7px;
	margin: 0 2px;
}
.modal-card.available{
	box-shadow: -5px -5px 15px 5px rgb(112, 253, 24), 5px 5px 15px 7px rgb(112, 253, 24) !important;
	cursor: pointer;
}
.modal-card h1{
	font-size: 16px;
}
.modal-card img{
	width: 100%;
}
.modal-card div{
	height: 100px;
	font-size: 12px;
	font-weight: 700;
	padding: 5px 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}
.modal-card div div{
	width: 30px;
	height: 30px;
	font-size: 18px;
	font-weight: 700;
	color: black;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	bottom: -5px;
	right: -5px;
	background-color: white;
	border: 1px solid gray;
	border-radius: 50%;
}
