*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

.back{
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100lvh;
	object-fit: cover;
	opacity: 0.5;
	z-index: -1;
}
.supply-area{
	width: 100%;
	max-width: 900px;
	margin: 10px auto;
	height: 400px;
	display: flex;
	align-items: center;
}
.victory-point-area{
	width: 15%;
	display: grid;
	grid-template-columns: 130px;
	grid-template-rows: repeat(3, 120px);
	gap: 5px;
	margin: 0 2px;
}
.victory-point-area img{
	width: 100%;
}
.treasure-point-area{
	width: 15%;
	display: grid;
	grid-template-columns: 130px;
	grid-template-rows: repeat(3, 120px);
	gap: 5px;
	margin: 0 2px;
}
.treasure-point-area img{
	width: 100%;
}
.kingdon-area{
	width: 70%;
	display: grid;
	grid-template-columns: repeat(5, 120px);
	grid-template-rows: repeat(2, 150px);
	direction: rtl;
	gap: 5px;
	position: relative;
}

.supply-card{
	text-align: center;
	background-color: gray;
	position: relative;
	width: 100%;
	height: 100%;
	cursor: pointer;
}
.supply-card img{
	width: 100%;
}
.cost{
	position: absolute;
	bottom: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 25px;
	height: 25px;
	color: black;
	background-color: #f9f170;
	border-radius: 50%;
}
.remain{
	position: absolute;
	bottom: 0;
	right: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 25px;
	height: 25px;
	color: black;
	background-color: white;
	border-radius: 50%;
}

.infomation-area{
	width: 100%;
	max-width: 900px;
	margin: 10px auto;
	height: 30vh;
	display: flex;
}
.left-info{
	width: 20%;
	height: 100%;
}
.count-area{
	height: 40px;
	display: flex;
	align-items: center;
}
.action-count{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 40px;
	height: 40px;
	color: white;
	font-size: 24px;
	background-color: black;
	border-radius: 50%;
	margin: 0 2px;
}
.buy-count{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 40px;
	height: 40px;
	color: black;
	font-size: 24px;
	background-color: gray;
	border-radius: 50%;
	margin: 0 2px;

}
.moon-count{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 40px;
	height: 40px;
	color: black;
	font-size: 24px;
	background-color: #f9f170;
	border-radius: 50%;
	margin: 0 2px;

}
.point-area{
	height: 40px;
	display: flex;
	align-items: center;
	margin: 10px 0;
}
.point-count{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 40px;
	height: 40px;
	color: black;
	font-size: 24px;
	background-color: #77f970;
	border-radius: 50%;
	margin: 0 2px;
}
.deck-area{
	height: 108.07px;
	width: 70px;
	position: relative;
}
.deck-area img{
	width: 100%;
	z-index: -1;
}
.deck-count{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 40px;
	height: 40px;
	color: black;
	font-size: 24px;
	font-weight: 900;
	background-color: #a71b1c;
	border-radius: 50%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.main-info{
	width: 65%;
	height: 30vh;
}
.play-area{
	width: 100%;
	height: 100%;
	position: relative;
}
.play-card{
	width: 120px;
	height: 150px;
	background-color: gray;
	text-align: center;
	box-shadow: 1px 1px 5px black;
	position: absolute;
	top: 0;
	transition: transform 0.2s ease-in-out;
}
.play-card img{
	width: 100%;
}

.right-info{
	width: 20%;
	height: 100%;
}
.phase-info{
	width: 100%;
}
.phase-info div{
	width: 100%;
	text-align: center;
	color: white;
	background-color: gray;
	border-radius: 15px;
	margin: 5px 0;
}
.phase-info div.active{
	color: black;
	background-color: rgb(243, 230, 50);
}

.trash-count{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 40px;
	height: 40px;
	color: white;
	font-size: 24px;
	background-color: black;
	border-radius: 50%;
	margin: 0 2px;
}


.hand-area{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.hand-info{
	width: 100%;
	max-width: 900px;
	height: 20vh;
	display: flex;
	flex-wrap: nowrap;
	position: relative;
}
.hand-card{
	width: 120px;
	height: 150px;
	background-color: gray;
	text-align: center;
	box-shadow: 1px 1px 5px black;
	position: absolute;
	top: 0;
	transition: transform 0.2s ease-in-out;
}
.hand-card:hover{
	transform: translateY(-30px);
}
.hand-card img{
	width: 100%;
}
